/*==================== FONT ====================*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colores Primarios ==========*/
    --primary-color-paleblue: hsl(225, 100%, 94%);
    --primary-color-brightblue:hsl(245, 75%, 52%);
    --primary-color-white: white;
    /*========== Colores Neutrales ==========*/
    --neutral-color-verypale:hsl(225, 100%, 98%);
    --neutral-color-desaturated:hsl(224, 23%, 55%);
    --neutral-color-darkblue:hsl(223, 47%, 23%);
    
    /*========== Font  ==========*/
    --body-font: 'Red Hat Display', sans-serif;
    --font-size-paragraph :16px;
    --font-size-title :26px;
    --font-light:500;
    --font-medium:700;
    --font-bold:900;
    
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    padding: 0;
    font-family: var(--body-font);
}
#bg-page{
    background-image: url("/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color-paleblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    max-width: 430px;
    min-height: 700px;
    background-color: var(--primary-color-white);
    text-align: center;
    margin: 0 25px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.041);
}
.card-info {
    display: flex;
    flex-direction: column;
}
.card-info > h1{
    padding-top: 53px;
    padding-bottom: 30px;
    font-size: var(--font-size-title);
    color: var(--neutral-color-darkblue);
    font-weight: var(--font-bold);
}
.card-info > p{
    font-size: var(--font-size-paragraph);
    color: var(--neutral-color-desaturated);
    font-weight: var(--font-light);
    padding-left:  2.5625em;
    padding-right:  2.5625em;
    padding-bottom: 26px;
}
.btn-plan{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-color-verypale);
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
}
.btn-plan > img{
    padding-left: 20px;
} 
.btn-plan> a {
    padding-right: 20px;
    color:var(--primary-color-brightblue);
    font-weight: var(--font-bold);
    font-size: 16px;
}  
.btn-plan-content{
    padding-right: 75px;
}  
.btn-plan-content>p:first-child{
    color: var(--neutral-color-darkblue) ;
    font-weight: var(--font-bold);
}  
.btn-plan-content>p:last-child{
    color: var(--neutral-color-desaturated) ;
    font-weight: var(--font-light);
    font-size: 16px;
}  
.card-info-btn{
    margin-top: 31.7px;
    margin-right: 48px;
    margin-left: 48px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 12px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-brightblue);
    box-shadow: 0 16px 10px var(--primary-color-paleblue);
}
.card-info-btn > a{
    color:var(--primary-color-white);
    font-weight: var(--font-light);
    font-size: 16px;
    text-decoration: none;
}
.card-cancel {
    margin-top: 36px;
    color: var(--neutral-color-desaturated);
    font-weight: var(--font-medium);
    font-size: 16px;
    text-decoration: none;
}